<div class="container vh-100 d-flex justify-content-center align-items-center">
            <div class="text-center">
                <h1 class="mb-3">Gerenciamento do Abrigo</h1>
                <p class="mb-4 text-muted">Este site é dedicado ao controle de abrigo, gestão de doações, voluntários, e outras operações essenciais para o bom funcionamento do abrigo.</p>

                <!-- Botão para cadastrar informações do Abrigo -->
                <a href="{% url 'abrigo_adicionar' %}" class="btn btn-primary btn-lg m-2">
                    Cadastrar Informações do Abrigo
                </a>

                <!-- Botão para cadastrar informações de Voluntários -->
                <a href="#" class="btn btn-success btn-lg m-2">
                    Cadastrar Informações de Voluntários
                </a>

                <!-- Botão para cadastrar Doações -->
                <a href="#" class="btn btn-warning btn-lg m-2">
                    Cadastrar Doações
                </a>

            </div>
        </div>

